---
import Layout from "../layouts/Layout.astro";
import projects from "../data/projects.json";
import "../styles/main/style.scss";
import "../styles/responsive/style.scss";

interface Data {
  name: string;
  image: string;
  desc: string;
  link: string;
}
---

<Layout title="Hello, I'm Arnold Daniels" />
<div id="app">
  <img id="lines" src="/images/lines.AVIF" alt="lines" />
  <div class="bottom-nav">
    <img src="/images/arrow.png" alt="Arrow" class="arrow" />
    <div class="popup">
      <ul>
        <li><a href="/#about">about</a></li>
        <img src="/images/hor-line.png" alt="horizontal-lines" />
        <li><a href="/#projects">projects</a></li>
        <img src="/images/hor-line.png" alt="horizontal-lines" />
        <li><a href="/#contact">contact</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <nav>
      <section class="clock">
        <span id="time">
          <script is:inline></script>
        </span> Lagos, <br />ng wat
      </section>
      <section class="name">AD<span>C</span>ODES</section>
      <section class="directions">
        <ul>
          <li><a href="/#about">about</a></li>
          <li><a href="/#projects">projects</a></li>
          <li><a href="/#contact">contact</a></li>
        </ul>
      </section>
    </nav>
    <main>
      <h1>
        Arnold <br />
        <div>DARASIMI</div>
         Da<span>n</span>iels
      </h1>
    </main>
    <footer>
      <span
        >I am a frontend engineer passionate about building visual experiences
        that tells a story, I love to bridge visual artistry and modern day
        design.</span
      >
      <div class="frontend">
        <img
          class="g-back"
          src="/images/green-background.AVIF"
          alt="green-background"
        />
        <div class="f-text">
          <h2 class="frontend_engineer">
            Frontend <br />
             Engineer
          </h2>
          <img class="screw" src="/images/screw.AVIF" alt="screw" />
        </div>
      </div>
    </footer>
  </div>

  <div id="projects">
    <h1>
      I work with a variety of tools and technologies to build interfaces that
      are both functional and visually appealing.
    </h1>

    <h3>
      Se<span>l</span>ected <br />
       Projects
    </h3>
    <section class="cards">
      {
        (projects as Data[]).map((data) => {
          return (
            <div class="card">
              <img src={data.image} alt={data.name} />
              <div class="hover">
                <div class="text">
                  <h5>{data.name}</h5>
                  <h6>{data.desc}</h6>
                </div>
                <button>
                  <a href={data.link} target="_">
                    view live
                  </a>
                </button>
              </div>
              <div class="hover-small">
                <div class="text">
                  <h5>{data.name}</h5>
                  <h6>{data.desc}</h6>
                </div>
                <button>
                  <a href={data.link}>view live</a>
                </button>
              </div>
            </div>
          );
        })
      }
    </section>
    <div class="contents" id="about">
      <h4>
        I develop Interfaces <br />
         build experiences and engineer frontend applications
      </h4>
      <h2>
        I work with a variety of tools and technologies to build interfaces that
        are both functional and visually appealing.
      </h2>
      <!-- <h5>
        I work with a variety of tools and technologies to build interfaces that
        are both functional and visually appealing.
      </h5> -->
      <img src="/images/AD.AVIF" alt="Profile Picture" />
    </div>
  </div>

  <div id="contact">
    <h1>
      I'm open to <br />
       work!
    </h1>

    <a href="mailto:danielsarnold010@gmail.com">
      <img src="/images/contact.AVIF" alt="open to work" />
    </a>

    <footer>
      <h4>
        I am a frontend engineer passionate about building visual experiences
        that tells a story, I love to bridge visual artistry and modern day.
      </h4>
      <div>
        <h5>DEVELOPED BY ADCODES</h5>
        <h5>DESIGNED BY LEKANDEV</h5>
      </div>
    </footer>
  </div>
</div>

<script>
  function UpdateTime() {
    let time: HTMLElement | null = document.getElementById("time");
    const now = new Date();
    const options = {
      hour: "2-digit" as string,
      minute: "2-digit" as string,
      timeZone: "Africa/Lagos" as string,
    };
    const currentTime = now.toLocaleTimeString([], options as object);
    time.innerHTML = currentTime;
    time.innerHTML = currentTime.replace("AM", "(AM)").replace("PM", "(PM)");
  }
  setInterval(UpdateTime, 1000);
  const botttomNav: HTMLElement | null = document.querySelector(".bottom-nav");
  const popup: HTMLElement | null = document.querySelector(".popup");
  const arrow: HTMLElement | null = document.querySelector(".arrow");
  if (botttomNav && popup) {
    botttomNav.addEventListener("click", function () {
      if (popup) {
        popup.classList.toggle("popup");
        popup.classList.toggle("popup-open");
      }
      if (botttomNav) {
        botttomNav.classList.toggle("bottom-nav");
        botttomNav.classList.toggle("bottom-nav-open");
      }
      if (arrow) {
        arrow.classList.toggle("arrow");
        arrow.classList.toggle("arrow-active");
      }
    });
  }
</script>
